body {
	margin: 0;
	background-image: url("images/backgroundBlack.jpg");
	width: 100%;
	height: 100%;
}

h1 {
	color: #FFFFFF;
	text-align: center;
}

p {
	color: #FFFFFF;
	text-align: center;
}

li {
	color: #FFFFFF;
}

#login {
	margin-top: 20%;
	width: 100%;
}

#recover {
	margin-top: 15%;
	width: 100%;
}

#firstStep {
	height: auto;
	width: 400px;
	margin: auto;
}

form {
	height: auto;
	width: 320px;
	margin: auto;
}

label {
	color: #FFFFFF;
	font-size: 18px;
	font-weight: bold;
	margin: 20px 0;
}

input[type=text], input[type=password] {
	font-size: 16px;
    width: 100%;
    padding: 3px;
    margin: 7px 0 7px 0;
    display: inline-block;
}

button {
    padding: 10px 10px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    width: 100px;
}

.signU {
	color: #FFFFFF;
	background-color: #0d233a;
}

.signU:hover {
	background-color: #19487a;
}

.logI {
	color: #FFFFFF;
	background-color: #0d233a;
}

.logI:hover {
	background-color: #19487a;
}

a {
	color: #3076c1;
	font-size: 17px;
	text-decoration: none;
}

a:hover {
	color: #dee0e2;
}