/*
Francheska Guzman
Final Project: March 23, 2017
Cycle 2 Cohort 4
*/
@import url('https://fonts.googleapis.com/css?family=Halant');

body {
	margin: 0%;
	background-color: #141414;
	background-image: url("images/");
	background-repeat: no-repeat;
	background-size: 100%;
}

h1 {
	/* This is for the logo. */
}

h2 {
	color: #498bd1;
	font-size: 25px;
	font-family: 'Halant', serif;
}

h3 {
	color: #302e2e;
	text-align: center;
	font-size: 30px;
	font-family: 'Halant', serif;
}

h4 {
	font-size: 40px;
}

h5 {
	font-size: 35px;
}

h6 {
	font-size: 12px;
}

.type {
	color: #1c1b1b;
	font-size: 20px;
	padding: 0 10px 0 0;
}

.data {
	color: #000000;
	font-size: 20px;
	font-weight: bold;
}

.theNews {
	margin-top: 70px;
}

header {
	width: 100%;
	background-color: #232323;
	display: inline-block;
	height: 122px;
}

/* Logo */

#logo {
	float: left;
	margin-left: 50px;
}

/* Log in and Log out */

.rightMsg {
	text-align: right;
	color: #FFFFFF;
	font-size: 16px;
	margin: 20px 40px 10px 0;
}

#log {
	float: right;
	margin: 0 40px 10px 0;
}

/* Navigation bar */

nav {
	width: 100%;
	display: block;
	position: absolute;
}

ul {
	background-color: #302f2f;
	padding: 0;
}

ul li {
	display: inline-block;
	list-style: none;
}

li a {
	width: 140px;
	padding: 12px 8px;
	display: block;
	font-family: helvetica;
	font-size: 14px;
	color: #FFFFFF;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

li a:hover, .dropdown:hover {
    background-color: #5e5c5c;
}

.dropdown {
	display: inline-block;
}

.content {
	min-width: 200px;
	display: none;
    position: absolute;
	background-color: #848383;
	opacity: .9;
}

.content a {
	min-width: 200px;
	color: #000000;
	padding: 12px 16px;
	display: block;
    text-align: left;
	text-decoration: none;
}

.content a:hover {
    background-color: #bababa;
    color: #000000;
}

.dropdown:hover .content {
    display: block;
}

/* SlideShow of News */

.container {
	display: flex;
}

.columnContainer {
	flex: 1;
	flex-direction: column;
}

.newsSlides {
	flex: 2;
	width: 100%;
	height: 380px;
	background-color: #141414;
}

#headline {
	flex: 1;
	height: 300px;
	background-color: #111111;
	color: #dddddd;
	text-align: center;
	padding: 25px;
}

#myButtons {
	flex: 1;
	height: 30px;
	text-align: center;
	background-color: #111111;
}

.back-button, .forward-button {
	width: 40%;
	height: 30px;
	border: none;
	color: #FFFFFF;
	background-color: #0d233a;
}

.back-button:hover, .forward-button:hover {
	background-color: #19487a;
}

/* Stock Market Index */

.smi {
	flex: 1;
	height: 80px;
	font-size: 20px;
	text-align: center;
	color: #635e5e;
	background-color: #232121;
	display: inline-block;
}

#stockTickerTape {
	width: 100%;
	background-color: #111111;
	padding: 5px;
}

#myFinance {
	background-color: #efefef;
	display: inline-block;
	width: 75%;
}

#watchlist {
	height: 300px;
	color: #000000;
}

#portfolio {
	height: 350px;
}

#currencies {
	width: 25%;
	height: 710px;
	display: inline-block;
	background-color: #0d233a;
	float: right;
}

.g {
	color: #1a8218; /* Green */
	font-size: 20px;
}

.l {
	color: #b20707; /* Red */
	font-size: 20px;
}

.w {
	color: #FFFFFF;
}

.gain {
	color: #1a8218; /* Green */
	font-size: 18px;
	padding: 0 10px 0 10px;
}

.loss {
	color: #b20707; /* Red */
	font-size: 18px;
	padding: 0 15px 0 15px;
}

.short {
	width: 70px;
}

.medium {
	width: 120px;
}

.long {
	width: 210px;
}

table {
	border-spacing: 0;
	padding: 10px;
	opacity: .8;
}

th {
	text-align: center;
	background-color: #b2aeae;
	color: #000000;
	font-size: 20px;
	padding: 10px 5px 10px 5px;
}

td {
	text-align: center;
	background-color: #e0e0e0;
	color: #000000;
	font-size: 18px;
	padding: 4px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #726f6f;
}

td:hover {
	color: #FFFFFF;
	background-color: #0d233a;
}

#company {
	background-image: url("images/whitebackground.jpg");
	background-repeat: no-repeat;
	padding: 40px;
}

.summary {
	flex: 1;
}

.graphic {
	flex: 2;
}

.graphicImage {
	border: 1px solid #0c6a96;
	width: 550px;
	height: 380px;
	margin: 0 0 0 50px;
}