/*
Francheska Guzman
Final Project: March 23, 2017
Cycle 2 Cohort 4
*/

body {
	margin: 0%;
	background-color: #141414;
	background-repeat: no-repeat;
	background-size: 100%;
}

@import url('https://fonts.googleapis.com/css?family=Halant|Merriweather+Sans|Prompt|Source+Sans+Pro');

h1 {
	color: #FFFFFF;
	font-family: 'Prompt', sans-serif;
	font-size: 58px;
}

h2 {
	color: #426d96;
	font-size: 22px;
	font-family: 'Merriweather Sans', sans-serif;
}

h3 {
	color: #302e2e;
	text-align: center;
	font-size: 30px;
	font-family: 'Halant', serif;
}

h4 {
	font-size: 40px;
}

h5 {
	font-size: 30px;
}

h6 {
	font-size: 20px;
	text-align: center;
}

.type {
	color: #1c1b1b;
	font-size: 20px;
	padding: 0 10px 0 0;
}

.data {
	color: #000000;
	font-size: 20px;
	font-weight: bold;
}

.description {
	margin-top: 5px;
	font-size: 16px;
	color: #d8d4d4;
	text-align: left;
	font-family: helvetica;
}

header {
	width: 100%;
	background-image: url("images/fintech.jpg");
	background-repeat: none;
	display: block;
}

/* Logo */

#logo {
	float: left;
	margin-left: 60px;
}

/* Log in and Log out */

.rightMsg {
	text-align: right;
	color: #FFFFFF;
	font-size: 16px;
	margin: 20px 40px 10px 0;
}

#log {
	float: right;
	margin: 0 40px 10px 0;
}

/* Navigation bar */

nav {
	width: 100%;
	padding: 0;
	background-color: #2d2c2c;
	display: inline-block;
}

nav li {
	display: inline-block;
	list-style: none;
}

li a {
	width: 130px;
	padding: 12px 8px;
	display: block;
	font-family: helvetica;
	font-size: 14px;
	color: #FFFFFF;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

li a:hover, .dropdown:hover {
    background-color: #5e5c5c;
}

a {
	color: #197caa;
	text-decoration: none;
}

.styleInputText {
	padding: 0 40px 0 0;
	text-align: right;
	font-size: 18px;
}

.input[type=text] {
	text-align: left
	font-size: 18px;
    width: 150px;
}

.fLinks {
	color: #a0a0a0;
	font-size: 15px;
	font-family: 'Source Sans Pro', sans-serif;
}

.fLinks:hover {
	color: #d3d1d1;
}

.dropdown {
	display: inline-block;
}

.content {
	min-width: 200px;
	display: none;
    position: absolute;
	background-color: #848383;
	opacity: .9;
}

.content a {
	min-width: 200px;
	color: #000000;
	padding: 12px 16px;
	display: block;
    text-align: left;
	text-decoration: none;
}

.content a:hover {
    background-color: #bababa;
    color: #000000;
}

.dropdown:hover .content {
    display: block;
}

/* SlideShow of News */

.container {
	display: flex;
}

.columnContainer {
	flex: 1;
	flex-direction: column;
}

.newsSlides {
	flex: 2;
	width: 100%;
	height: 380px;
	background-color: #141414;
}

#headline {
	flex: 1;
	height: 300px;
	background-color: #111111;
	color: #dddddd;
	text-align: center;
	padding: 25px;
}

#myButtons {
	flex: 1;
	height: 30px;
	text-align: center;
	background-color: #111111;
}

.back-button, .forward-button {
	width: 48.5%;
	height: 30px;
	border: none;
	color: #FFFFFF;
	background-color: #0d233a;
}

.back-button:hover, .forward-button:hover {
	background-color: #19487a;
}

/* Stock Market Index */

.smi {
	flex: 1;
	height: 90px;
	font-size: 22px;
	text-align: center;
	color: #d6d4d4;
	background-color: #232121;
	display: inline-block;
}

#stockTickerTape {
	width: 100%;
	background-color: #111111;
	padding: 5px;
}

#wr {
	flex: 3;
	background-image: url("images/whitebackground.jpg");
	height: 750px;
}

table {
	border-spacing: 0;
	padding: 10px;
	opacity: .8;
	overflow: hidden;
}

th {
	text-align: center;
	background-color: #b2aeae;
	color: #000000;
	font-size: 20px;
	padding: 10px 5px 10px 5px;
	opacity: .9;
}

td {
	text-align: center;
	background-color: #e0e0e0;
	color: #000000;
	font-size: 18px;
	padding: 4px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #726f6f;
}

#currencies {
	flex: 1;
	height: 750px;
	background-color: #252626;
}

.currencyTable {
	color: #FFFFFF;
	background-color: #252626;
	font-size: 18px;
	border-bottom: none;
	text-align: left;
	overflow: hidden;
}

#portTable {
	display: inline-block;
	width: 100%;
	background-color: #191919;
	height: 420px;
	overflow: hidden;
}

.tBlack {
	width: 90%;
}

.tBlack th {
	background-color: #2b2a2a;
	color: #FFFFFF;
	font-size: 20px;
	padding: 10px;
}


.tBlack td {
	background-color: #191919;
	color: #FFFFFF;
	padding: 10px;
	font-size: 20px;
	border-color: #393a3a;
}

.graphicImage {
	border: 1px solid #0c6a96;
	width: 550px;
	height: 380px;
	margin: 0 0 0 50px;
}

.styleLink {
	color: #426d96;
}

.styleLink:hover {
	color: #FFFFFF;
}

.g {
	color: #1a8218; /* .g = Gain = Green Font */
	font-size: 20px;
}

.l {
	color: #b20707; /* .l = Loss = Red Font */
	font-size: 20px;
}

.w {
	color: #FFFFFF; /* .w = White Font */
}

.grey {
	color: #bfbfbf;
	font-size: 50px;
}

.gain {
	color: #1a8218; /* Green */
	font-size: 18px;
	padding: 0 10px 0 10px;
}

.loss {
	color: #b20707; /* Red */
	font-size: 18px;
	padding: 0 15px 0 15px;
}

.short {
	width: 70px;
}

.medium {
	width: 120px;
}

.long {
	width: 210px;
}

#company {
	background-image: url("images/whitebackground.jpg");
	background-repeat: no-repeat;
	padding: 20px 0 0 50px;
	height: 1000px;
}

.summary {
	flex: 1;
}

.pictureORvideo {
	flex: 2;
	height: 400px;
	background-color: #111111;
}

.information {
	flex: 1;
	height: 400px;
	background-color: #FFFFFF;
}

/* Footer */

footer {
	display: block;
	width: 100%;
	height: 90px;
	padding: 20px 0 0 100px;
}

/* Modal */ 

#openGraphic {
	text-align: center;
	font-size: 20px;
	color: #FFFFFF;
}

.modalDialog {
	position: fixed;
	font-family: arial, helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #000000;
	z-index: 99999;
	opacity: 0;
	pointer-events: none;
}

.modalDialog:target {
	opacity: 1;
	padding: 170px;
	pointer-events: auto;
}

.modalDialog > div {
	width: 500px;
	position: relative;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}

.close {
	background: #00d9ff;
	color: #FFFFFF;
	top: 130px;
	line-height: 25px;
	position: absolute;
	text-align: center;
	width: 28px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000000;
	-webkit-box-shadow: 1px 1px 3px #000000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { 
	background: #1c3c68; 
}